@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.container--dark {
  background-color: #0f0f0f;
  min-height: 100vh;
  font-family: "Poppins";
}

.container--light {
  background-color: #fff;
}

html {
  scroll-behavior: smooth;
}

.darkText {
  color: #0f0f0f !important;
}
